body{
    background-image:url(/images/download.jpeg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: sans-serif;
    color: blue;
}
.nav li a{
    color:white;
    font-size:38px;
}

.nav li a:hover{
    color: aqua;
}

.btn{
     background-color:yellow;
     padding: 10px 30px;
     border-radius: 50px;
}